<app-header titulo="Imagen del dia" ></app-header>

<ion-content class="bg-content">


    <ion-card  mode="ios" class="bg-card">
        <ion-card-header>

            <ion-item class="title">
            <ion-title size="small" color="light">{{title}}</ion-title>  
            <ion-icon color="light" slot="end" name="planet-outline"></ion-icon>
            <ion-card-subtitle color="light">{{date}}</ion-card-subtitle>      
            </ion-item>  
        </ion-card-header>

        

        <ion-card-content >
            <div class="video-container">
                <img src="{{url}}" *ngIf="mimeType=='image'" class="imagen" alt="IMAGEN PUEDE NO ESTAR DISPONIBLE EN HORARIOS NOCTURNOS">
                <iframe [src]="url | safe"  *ngIf="mimeType==='video'" frameborder="0" allowfullscreen></iframe>
            </div>
        <br>
            <div class="ion-text-justify">
                <ion-text color="light">{{explanation}}</ion-text>
            </div>
            
        </ion-card-content>




    </ion-card>


    
</ion-content>

