<app-header titulo="Imagen del dia" ></app-header>

<ion-content class="bg-content">


    <ion-card  mode="ios" class="bg-card">
        <ion-card-header>
            <ion-item class="title">
            <ion-title color="light">{{title}}</ion-title>  
            <ion-icon color="light" slot="end" name="planet-outline"></ion-icon>
            <ion-card-subtitle color="light">{{date}}</ion-card-subtitle>      
            </ion-item>  
        </ion-card-header>

        <ion-card-content >
            <ion-img alt="IMAGEN PUEDE NO ESTAR DISPONIBLE EN ALGUNOS HORARIOS NOCTURNOS" src="{{url}}" class="imagen"></ion-img>
            <ion-text color="light">{{explanation}}</ion-text>
        </ion-card-content>
    </ion-card>

</ion-content>