/* ion-content.background{
    --ion-background-color:#001a4d;
}*/
#container{
    .page-centered-element { 
        position: absolute;
        left: 0;   right: 0;  top: 0; bottom: 0;
        align-items: center;
        display: flex;
     justify-content: center; } 
     
   
}

.bg-imagen{
 --background:url(../../../assets/img/stars.jpg);
 

}

.btn-2{
    margin-top: 50px;
}
.btn-1,.btn-2{
    display:block;
    --box-shadow:none;
    --background: radial-gradient(circle, rgba(55,48,46,0.42620798319327735) 0%, rgba(40,9,15,1) 100%);
}
.nasa-front{
   
    margin-top: 70px;
    display:block;
    margin: auto;
}

.imagen{
    width: 70px;
}
--img[src=""] {
    display: none;
 }
/*
.btn-2{
    --margin-top:90px;
}*/


