/* ion-content.background{
    --ion-background-color:#001a4d;
}*/
#container{
    .page-centered-element { 
        position: absolute;
        left: 0;   right: 0;  top: 0; bottom: 0;
        align-items: center;
        display: flex;
     justify-content: center; } 
     
   
}

.bg-imagen{
 --background:url(../../../assets/img/stars.jpg);
 

}

.btn-2{
    margin-top: 50px;
}
.btn-1,.btn-2{
    display:block;
    --box-shadow:none;
    --background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,204,0.7987570028011204) 35%, rgba(0,212,255,1) 100%);
}
.nasa-front{
   
    margin-top: 70px;
    display:block;
    margin: auto;
}

.imagen{
    width: 70px;
}
--img[src=""] {
    display: none;
 }

 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
.btn-2{
    --margin-top:90px;
}*/


