

<ion-content fullscreen="true" class="bg-imagen">

  <img src="../../../assets/img/nasa api.png" class="nasa-front">
  
  <div id="container">
      <ion-button  
        size="large" 
        expand="block" 
        fill="solid" 
        shape="round" 
        class="btn-1" 
        routerLink="/imagen-del-dia">
        Conoce la imagen del dia
       </ion-button>

      <ion-button  
        size="large" 
        expand="block" 
        fill="solid" 
        shape="round" 
        class="btn-2" 
        routerLink="/imagenes-dias-anteriores">
        Explora dias anteriores
      </ion-button>
</div>
</ion-content>
